.parent{
    width: 100vw;
    display: flex;
    
    /* border: 1px solid blue;  */
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
}
.form{
    width: 40%;
    border: 0.5px solid grey;
    padding: 50px;
    border-radius: 10px;
}
.add{
    width: 700px;
    margin-left: 100px;
}