.parent{
    width: 100vw;
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
    margin-top: 15px;
}
.form{
    width: 40%;
    border: 0.5px solid grey;
    padding: 50px;
    border-radius: 10px;
}